header.header 
    .header__img 
        img.header__div-img(src="./images/Preview2.webp", alt="")
            .container 
                .header__info-div
                    a.header__info-link(href="") RESERVATION
